:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  /* font-size: 14px; */
  letter-spacing: 0.03em;
}

/* global style  */
/* global style dell points in ul */
.list {
  list-style: none;
}
/* title h2 */
.section-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  vertical-align: top;
  letter-spacing: 0.03em;
}
/* title h3 */
.section-subtitle {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  vertical-align: top;
  letter-spacing: 0.03em;
}

/* --------------------------------- */

/* Logo */
.logo {
  color: #212121;

  text-decoration: none;

  font-family: Oleo Script, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-align: left;
  vertical-align: Top;
  letter-spacing: 0.03em;
}
.logo:hover,
.logo:focus {
  color: #212121;
}
.logo .logo-blu {
  color: #2196f3;

  text-decoration: none;

  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.38;
  text-align: left;
  vertical-align: Top;
  letter-spacing: 0.03em;
}
.logo .logo-blu:hover,
.logo .logo-blu:focus {
  color: #2196f3;
}

/* Nav */
.site-nav-list .link {
  color: var(--title-text-color);
  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  vertical-align: top;
  letter-spacing: 0.02em;
}
.site-nav-list .link:hover,
.site-nav-list .link:focus {
  color: var(--accent-text-color);
}
.site-nav-list .link.current {
  color: var(--accent-text-color);
}
.contacts-list .link {
  color: var(--primary-text-color);
  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  vertical-align: top;
  letter-spacing: 0.02em;
}
.contacts-list .link:hover,
.contacts-list .link:focus {
  color: var(--accent-text-color);
}

/* section hero */
.section-hero {
  background-color: #2f303a;
}
.section-hero-title {
  color: #ffffff;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.93;
  text-align: center;
  vertical-align: top;
  letter-spacing: 0.06em;
}

/* buttons */
.button {
  color: var(--title-text-color);
  background-color: #ffffff;

  /* font-family: inherit;
  font-size: 700;
  line-height: 1.88;
  text-align: center;
  vertical-align: center;
  letter-spacing: 0.06em; */
}

.our-advantages .text {
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  vertical-align: top;
  letter-spacing: 0.03em;
}
.our-team .section-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  vertical-align: top;
  letter-spacing: 00.03em;
}
.our-team .text {
  /* font-size: 16px;
  line-height: 1.19;
  text-align: center;
  vertical-align: top;
  letter-spacing: 00.03em; */
}
/* portfolio buttons*/
.section-our-works .button:hover,
.section-our-works .button:focus {
  color: #ffffff;
  background-color: var(--accent-text-color);
}
.button.current {
  color: #ffffff;
  background-color: var(--accent-text-color);
}
.button.primary {
  color: #ffffff;
  background-color: var(--accent-text-color);
}
.button.secondary {
  color: var(--title-text-color);
  background-color: #f5f4fa;
}

/* footer */
.footer {
  background-color: #2f303a;
}
.footer .logo {
  color: #ffffff;
}
.footer .addres {
  color: #ffffff;
}
.footer .contacts-list {
  color: rgba(255, 255, 255, 0.6);
}
