:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
}

/* global style  */
/* global style dell points in ul */
.list {
  list-style: none;
}
/* title h2 */
.section-title {
  color: var(--title-text-color);
}
/* title h3 */
.section-subtitle {
  color: var(--title-text-color);
}

/* --------------------------------- */

/* Logo */
.logo {
  color: #212121;
}
.logo:hover,
.logo:focus {
  color: #212121;
}
.logo .logo-blu:hover,
.logo .logo-blu:focus {
  color: #2196f3;
}
.logo .logo-blu {
  color: #2196f3;
}

/* Nav */
.site-nav-list .link {
  color: var(--title-text-color);
}
.site-nav-list .link:hover,
.site-nav-list .link:focus {
  color: var(--accent-text-color);
}
.site-nav-list .link.current {
  color: var(--accent-text-color);
}
.contacts-list .link {
  color: var(--primary-text-color);
}
.contacts-list .link:hover,
.contacts-list .link:focus {
  color: var(--accent-text-color);
}

/* section hero */
.section-hero {
  background-color: #2f303a;
}
.section-hero-title {
  color: #ffffff;
}

/* buttons */
.button {
  color: var(--title-text-color);
  background-color: #ffffff;
}
/* portfolio buttons*/
.section-our-works .button:hover,
.section-our-works .button:focus {
  color: #ffffff;
  background-color: var(--accent-text-color);
}
.button.current {
  color: #ffffff;
  background-color: var(--accent-text-color);
}
.button.primary {
  color: #ffffff;
  background-color: var(--accent-text-color);
}
.button.secondary {
  color: var(--title-text-color);
  background-color: #f5f4fa;
}

/* footer */
.footer {
  background-color: #2f303a;
}
.footer .logo {
  color: #ffffff;
}
.footer .addres {
  color: #ffffff;
}
.footer .contacts-list {
  color: rgba(255, 255, 255, 0.6);
}
